.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalBox input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalBox button {
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.switchText {
  color: blue;
  cursor: pointer;
  font-size: 14px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}