.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #d84f57;
  color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu p {
  padding: 8px;
  cursor: pointer;
}

.menu p:hover {
  background: #f5f5f5;
}